*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f4f4f4;
}

.topbar{

height:90px;

background:#1665f5;

display:flex;

align-items:center;

justify-content:space-between;

color:white;

}

.logo-area{

width:350px;

padding-left:30px;

display:flex;

align-items:center;

gap:15px;

}

.cube{

font-size:28px;

}

.logo-area h2{

font-size:22px;

font-weight:500;

}

.logo-area p{

font-size:14px;

}

.page-title{

flex:1;

font-size:20px;

padding-left:40px;

}

.avatar{

width:60px;

height:60px;

background:white;

color:#1665f5;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin-right:30px;

font-size:30px;

}

.main{

display:flex;

height:calc(100vh - 90px);

}

.sidebar{

width:350px;

background:#f2f2f2;

}

.menu{

padding:28px;

font-size:18px;

display:flex;

gap:20px;

}

.active{

background:#e6edf8;

}

.hero{

flex:1;

padding:40px;

background:
linear-gradient(
135deg,
#1158ff,
#4b1ee8
);

color:white;

position:relative;

overflow:hidden;

}

.badge{

display:inline-block;

padding:12px 20px;

background:rgba(255,255,255,.12);

border-radius:10px;

margin-bottom:30px;

}

.hero h1{

font-size:78px;

font-weight:300;

line-height:1.1;

margin-bottom:20px;

}

.hero p{

width:500px;

font-size:18px;

line-height:1.8;

}

.stats{

display:flex;

gap:30px;

margin-top:60px;

}

.stat{

width:180px;

height:140px;

background:rgba(255,255,255,.15);

border-radius:20px;

padding:25px;

}

.stat h2{

font-size:50px;

margin-bottom:10px;

}

.dash-content{

flex:1;

padding:30px;

}

.charts{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:25px;

}

.box{

background:white;

padding:20px;

border-radius:10px;

box-shadow:
0 2px 10px rgba(0,0,0,.1);

height:280px;

}

.box img{

width:100%;

height:100%;

object-fit:contain;

}

.finance{

width:600px;

background:white;

margin-top:30px;

padding:30px;

border-radius:10px;

box-shadow:
0 2px 10px rgba(0,0,0,.1);

}

.red{

background:#fff1f1;

padding:25px;

margin-top:20px;

font-size:20px;

display:flex;

justify-content:space-between;

color:red;

}

.green{

background:#edf8f0;

padding:25px;

margin-top:20px;

font-size:20px;

display:flex;

justify-content:space-between;

color:green;

}

.admin{

display:flex;

gap:20px;

align-items:center;

margin-right:30px;

}

.admin span{

font-size:13px;

opacity:.8;

}

.sidebar a{

text-decoration:none;

color:black;

display:flex;

}